@font-face {
  font-family: "vazir";
  src: url("https://raw.githubusercontent.com/WebSidan/js-project-20/main/fonts/vazir.eot") format("eot"), url("https://raw.githubusercontent.com/WebSidan/js-project-20/main/fonts/vazir.tff") format("truetype") , url("https://raw.githubusercontent.com/WebSidan/js-project-20/main/fonts/vazir.woff") format("woff"), url("https://raw.githubusercontent.com/WebSidan/js-project-20/main/fonts/vazir.woff2") format("woff2") ;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.container button {
  width: 200px;
  background: #ec5c08;
  font-size: 25px;
  padding: 10px;
  border: none;
  font-family: "wazir";
  cursor: pointer;
  color: #fff;
}